<div style="text-align: left;
            padding-left: 55px;">

<h4>Bank Statement</h4>

</div>




<style>

    table {
        border-collapse: collapse;
        width: 45%;
        height: 200px;
        font:  100% sans-serif;
    }
    th, td {
        padding: 0.25rem;
        text-align: center;
        border: 1px solid #ccc;
    }
    tbody tr:nth-child(odd) {
        background: #eee;
    }

</style>


<table>

  <tbody>

  <tr>
    <td >
      <a href=http://localhost:3000/statements/gas>Groceries</a>
    </td>
    <td >
      <font color="black"> <%== $total_groceries %>$</font>
    </td>
  </tr>

  <tr>
    <td >
      <a href=http://localhost:3000/show_statement/show3>eatout</a>
    </td>
    <td >
      <font color="black"><%== $total_eatout %>$</font>
    </td>
  </tr>


  <tr>
    <td >
      <a href=http://localhost:3000/show_statement/show4>Credit</a>
    </td>
    <td >
      <font color="black"><%== $total_credit %>$</font>
    </td>
  </tr>


  <tr>
    <td >
      <a href=http://localhost:3000/show_statement/show5>Cell</a>
    </td>
    <td >
      <font color="black"> <%== $total_cell %>$</font>
    </td>
  </tr>


  <tr>
    <td >
      <a href=http://localhost:3000/show_statement/show6>Cash</a>
    </td>
    <td >
      <font color="black"><%== $total_cash %>$</font>
    </td>
  </tr>


  <tr>
    <td>
      <a href=http://localhost:3000/show_statement/show7>Misc</a>
    </td>
    <td >
      <font color="black"> <%== $total_misc %>$</font>
    </td>

  </tr>


  <tr>
    <td>
      <a href=http://localhost:3000/show_statement/show8>Income</a>
    </td>
    <td >

      <font color="black"> <%== $total_income %>$</font>
    </td>

  </tr>


  <tr>
    <td >
      <a href=http://localhost:3000/show_statement/show9>Total</a>
    </td>
    <td >
      <% if $total_income < $total_all %>
          <font color="red"> <%== $total_all %>$</font>
      <% else %>
          <font color="black">  <%= $total_all %>$   </font>
      <% end %>

    </td>
  </tr>





  </tbody>
</table>

<br>


<div style= "padding-left: 100px ">
<%= button_to "Add File", new_budget_path %>

</div>